body {
    padding: 20px;
    background: #5c5e62;
    color: white;
    font-family: "Inter", sans-serif;
}

#root {
    max-width: 960px;
    margin: 0 auto;
    background: #333538;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header {
    padding: 20px;
}

nav {
    display: flex;
    gap: 20px;
}

nav > h1 {
    font-size: 22.25px;
    font-weight: 700;
    color: #61DAFB;
}

main {
    padding: 0 20px 0 20px;
}

.logo {
    width: 55px;
}

::marker {
    color: #61DAFB;
}

footer  {
    padding: 20px;
    text-align: center;
}