body {
    padding: 20px;
    background: #5c5e62;
    color: white;
    font-family: "Inter", sans-serif;
}

#root {
    max-width: 600px;
    border-radius: 10px;
    margin: 0 auto;
    background: #333538;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

header {
    background-color: #21222A;
    padding: 30px 25px;
}

nav {
    display: flex;
    gap: 20px;
}

nav > span {
    font-size: 1.4rem;
    font-weight: 700;
    color: #61DAFB;
    align-content: center;
}

.logo {
    width: 55px;
}

main {
    height: 460px;
    padding: 25px;
    background: #282D35 url("./assets/reactjs-icon 2.png") no-repeat right;
    background-size: contain;
}

main > h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

ul.facts-list > li {
    font-size: 1.2rem;
}

ul.facts-list > li::marker {
    color: #61DAFB;
    font-size: 1.5rem;
}

.facts-list {
    margin-top: 46px;
}

ul.facts-list > li:not(:last-child) {
    margin-bottom: 15px;
}

